<div>
  <h1 *ngIf="EmployeeId == 0">Add Employee</h1>
  <h1 *ngIf="EmployeeId != 0">Update Employee</h1>
</div>
<div class="card card-body">
  <div class="row">
    <div class="col-md-12">
      <label>Employee Name : </label>
      <input
        type="text"
        placeholder="Enter Name"
        [(ngModel)]="SelectedEmployeeName"
      />
    </div>
    <div class="col-md-12">
      <label>Employee Salary : </label>
      <input
        type="text"
        placeholder="Enter Salary"
        [(ngModel)]="SelectedEmployeeSalary"
      />
    </div>
    <div class="col-md-12">
      <label>Employee Age : </label>
      <input
        type="text"
        placeholder="Enter Age"
        [(ngModel)]="SelectedEmployeeAge"
      />
    </div>
  </div>
  <div class="text-right">
    <button (click)="SaveEmployee()">
      <span *ngIf="EmployeeId == 0">Add</span>
      <span *ngIf="EmployeeId != 0">Update</span>
    </button>
    <button routerLink="">Close</button>
  </div>
</div>
